<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="cont_logo">
            <img src="" alt="logo">
        </div>
        <div class="cont_buscador">
            <input type="text" placeholder="nombre del producto" id="buscador">
            <button> <label for="buscador"></label></button>
        </div>
        <div class="cont_log_reg">
            <a href=""><img src="" alt="login"></a>
            <a href=""><img src="" alt="register"></a>
        </div>
        <div class="cont_carrito">
            <img src="" alt="carrito">
        </div>
    </header>
    <nav>
        <ul>
            <li> <a href="">ofertas</a> </li>
            <li> <a href="">productos</a> </li>
            <li> <a href="">beneficios</a> </li>
            <li> <a href="">suscripcion</a> </li>
            <li> <a href="">informacion</a> </li>
        </ul>
    </nav>
    <main>
        <section class="sec_ofertas">
            <img src="" alt="">
        </section>
        <section class="sec_productos">
            <div class="cont_categorias">
                <div class="catego">
                    <h2>Vinos</h2>
                </div>
                <div class="catego">
                    <h2>Whiskys</h2>
                </div>
                <div class="catego">
                    <h2>Otros</h2>
                </div>
            </div>
            <div class="cont_prod">
                <div class="cont_filtros">
                    <p> Lorem ipsum dolor, sit amet </p>
                    <p> Lorem ipsum dolor, sit amet </p>
                    <p> Lorem ipsum dolor, sit amet </p>
                    <p> Lorem ipsum dolor, sit amet </p>
                    <p> Lorem ipsum dolor, sit amet </p>
                    <p> Lorem ipsum dolor, sit amet </p>
                    <p> Lorem ipsum dolor, sit amet </p>
                    <p> Lorem ipsum dolor, sit amet </p>
                    <p> Lorem ipsum dolor, sit amet </p>
                    <p> Lorem ipsum dolor, sit amet </p>
                </div>
                <div class="cont_tproductos">
                    <div class="card_producto">
                        <div class="cont_imgproducto">
                            <img src="" alt="producto">
                        </div>
                        <p class="precio">$50.000</p>
                        <p class="descuento">10% Off</p>
                        <p class="nombre"> Vino y se fue</p>
                    </div>
                    <div class="card_producto">
                        <div class="cont_imgproducto">
                            <img src="" alt="producto">
                        </div>
                        <p class="precio">$50.000</p>
                        <p class="descuento">10% Off</p>
                        <p class="nombre"> Vino y se fue</p>
                    </div>
                    <div class="card_producto">
                        <div class="cont_imgproducto">
                            <img src="" alt="producto">
                        </div>
                        <p class="precio">$50.000</p>
                        <p class="descuento">10% Off</p>
                        <p class="nombre"> Vino y se fue</p>
                    </div>
                    <div class="card_producto">
                        <div class="cont_imgproducto">
                            <img src="" alt="producto">
                        </div>
                        <p class="precio">$50.000</p>
                        <p class="descuento">10% Off</p>
                        <p class="nombre"> Vino y se fue</p>
                    </div>
                    <div class="card_producto">
                        <div class="cont_imgproducto">
                            <img src="" alt="producto">
                        </div>
                        <p class="precio">$50.000</p>
                        <p class="descuento">10% Off</p>
                        <p class="nombre"> Vino y se fue</p>
                    </div>
                    <div class="card_producto">
                        <div class="cont_imgproducto">
                            <img src="" alt="producto">
                        </div>
                        <p class="precio">$50.000</p>
                        <p class="descuento">10% Off</p>
                        <p class="nombre"> Vino y se fue</p>
                    </div>
                    <div class="card_producto">
                        <div class="cont_imgproducto">
                            <img src="" alt="producto">
                        </div>
                        <p class="precio">$50.000</p>
                        <p class="descuento">10% Off</p>
                        <p class="nombre"> Vino y se fue</p>
                    </div>
                    <div class="card_producto">
                        <div class="cont_imgproducto">
                            <img src="" alt="producto">
                        </div>
                        <p class="precio">$50.000</p>
                        <p class="descuento">10% Off</p>
                        <p class="nombre"> Vino y se fue</p>
                    </div>
                    <div class="card_producto">
                        <div class="cont_imgproducto">
                            <img src="" alt="producto">
                        </div>
                        <p class="precio">$50.000</p>
                        <p class="descuento">10% Off</p>
                        <p class="nombre"> Vino y se fue</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec_beneficios">
            <div class="beneficio">
                <img src="" alt="envios">
                <p>descripcion del servicio</p>
            </div>
            <div class="beneficio">
                <img src="" alt="metodos de pago">
                <p>descripcion del servicio</p>
            </div>
            <div class="beneficio">
                <img src="" alt="soporte">
                <p>descripcion del servicio</p>
            </div>
        </section>
        <section class="sec_suscripcion">
            <div class="suscripcion_info">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing 
                    elit. Nam temporibus vero, totam rem tenetur ipsa 
                    minima earum hic quo corrupti. Doloremque veritatis 
                    non soluta natus! Cumque laborum accusamus commodi 
                    dicta!
                </p>
            </div>
            <div class="suscripcion_input">
                <input type="email" id="suscripcion" placeholder="marta978@hotmail.com">
                <label for="suscripcion"> <button> Enviar </button></label>
            </div>
        </section>
    </main>
    <footer>
        <div>
            <div class="cont_logo">
                <img src="" alt="logo">
            </div>
            <div class="cont_info">
                <h3>Información</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur 
                    adipisicing elit. Vero iusto explicabo tenetur, 
                    omnis, et ipsum eveniet quo minima impedit quam minus 
                    delectus fugiat animi quos alias a veniam mollitia 
                    velit?
                </p>
            </div>
        </div>
        <div class="cont_servicio">
            <h3>Servicio al cliente</h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur 
                adipisicing elit. Vero iusto explicabo tenetur, 
                omnis, et ipsum eveniet quo minima impedit quam minus 
                delectus fugiat animi quos alias a veniam mollitia 
                velit?
            </p>
        </div>
        <div>
            <h3>Tienda</h3>
            <p>Vinos</p>
            <p>whisky</p>
            <p>Otros</p>
            <p>Ofertas</p>
        </div>
        <div>
            <h3>Seguinos</h3>
            <a href="www.instagram.com"><img src="" alt="instagram"></a>
            <a href="www.facebook.com"><img src="" alt="facebook"></a>
            <a href="www.twitter.com"><img src="" alt="twitter"></a>
        </div>
    </footer>

</body>
</html>