<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- css -->
    <link rel="stylesheet" href="/css/productDetailStyle.css">
    <script src="https://kit.fontawesome.com/ecd0310594.js" crossorigin="anonymous"></script>
    
    <title>Detalle de Producto</title>
</head>
<body>
    <header>

    </header>

    <main>
        <div class="container-main">
            <div class="container-secondary">
                <div class="container-wine-information">
                    <div class="wine-information">
                        <i class="fa-solid fa-tractor"></i>
                        <div class="wine-information-text">
                            <b>Viñedo</b>
                            <p>Las Compuertas, Vistalba y Agrelo</p>
                        </div>
                    </div>
                    <div class="wine-information">
                        <i class="fa-regular fa-clock"></i>
                        <div class="wine-information-text">
                            <b>Edad del viñedo</b>
                            <p>70 años</p>
                        </div>
                    </div>
                    <div class="wine-information">
                        <i class="fa-solid fa-arrows-up-down"></i>
                        <div class="wine-information-text">
                            <b>Altitud</b>
                            <p>960 metros</p>
                        </div>
                    </div>
                    <div class="wine-information">
                        <i class="fa-solid fa-wine-glass"></i>
                        <div class="wine-information-text">
                            <b>Variedad</b>
                            <p>Malbec</p>
                        </div>
                    </div>
                    <div class="wine-information">
                        <i class="fa-solid fa-boxes-stacked"></i>
                        <div class="wine-information-text">
                            <b>Guardado en barriles</b>
                            <p>12 meses</p>
                        </div>
                    </div>
                    <div class="wine-information">
                        <i class="fa-solid fa-wine-bottle"></i>
                        <div class="wine-information-text">
                            <b>Potencial de guardado</b>
                            <p>10 años</p>
                        </div>
                    </div>
                </div>
                <div class="wine-image">
                    <img src="/images/example-wine.png" alt="example-wine">
                </div>
            </div>
            <div class="nav-wine">
                <nav>
                    <ul type="none">
                        <li><a href="#wine-description">DESCRIPCIÓN</a></li>
                        <li><a href="#wine-catador-container">CATADOR</a></li>
                    </ul>
                </nav>
            </div>
            <div class="wine-description-text" id="wine-description">
                <p>Cava Real De Sangre - Malbec D.O.C es uno de los primeros vinos argentinos con Denominación de Origen. De color rojo violáceo profundo y brillante, sus aromas son equilibrados, con notas de frutas rojas y negras, y especias dulces. En boca es refrescante y voluptuoso, con taninos finos y delicados. De paladar franco y expresivo, con carácter y tipicidad, y un final profundo con suaves tonos ahumados de la crianza en barricas de roble. Es un gran exponente del varietal y de su terruño, con gran potencial de guarda.</p>
            </div>
            <div class="container-tertiary">
            <div class="wine-catador-container" id="wine-catador-container">
                <p>CATADOR</p>
                <div class="wine-catador-description">
                    <p>Afrutado</p>
                    <div class="wine-catador-description-percentage">

                    </div>
                    <p>Muy complejo</p>
                </div>
                <div class="wine-catador-description">
                    <p>Seco</p>
                    <div class="wine-catador-description-percentage">

                    </div>
                    <p>Postre</p>
                </div>
                <div class="wine-catador-description">
                    <p>Nada</p>
                    <div class="wine-catador-description-percentage">

                    </div>
                    <p>Mucha madera</p>
                </div>
                <div class="wine-catador-description">
                    <p>Amable</p>
                    <div class="wine-catador-description-percentage">

                    </div>
                    <p>Refrescante</p>
                </div>
                <div class="wine-catador-description">
                    <p>Aterciopelado</p>
                    <div class="wine-catador-description-percentage">

                    </div>
                    <p>Taninos intensos</p>
                </div>
                <div class="wine-catador-description">
                    <p>Liviano</p>
                    <div class="wine-catador-description-percentage">

                    </div>
                    <p>Mucho cuerpo</p>
                </div>
                <div class="wine-catador-description">
                    <p>Delicado</p>
                    <div class="wine-catador-description-percentage">

                    </div>
                    <p>Estructurado</p>
                </div>
            </div>
            <div class="wine-catador-image">
                <img src="/images/example-image.jpg" alt="">
            </div>
            </div>
        </div>

        <div class="container-fixed">
            <p class="name-wine">DE SANGRE · Malbec D.O.C</p>
            <b class="price-wine">$61.200</b>
            <p>Caja de 6 unidades</p>
            <p>Precio por botella: <b>$ 10.200</b></p>
            <div class="pay-delivery">
                <i class="fa-solid fa-credit-card"></i>
                <p>Hasta <b>6 cuotas sin interés</b></p>
            </div>
            <div class="pay-delivery">
                <i class="fa-solid fa-truck-fast"></i>
                <p>Envíos a todo el país</p>
            </div>
            <div class="wine-units">
                <p>Cantidad </p>
                <div class="units-number">
                    <form action="">
                        <input type="number" min="0" max="20">
                    </form>
                </div>
            </div>
            <button>Agregar al carrito</button>
        </div>

    </main>

    <footer>

    </footer>
</body>
</html>