*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #222121;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .principal-title-home{
    margin-top: 20vh;
    width: 100vw;
    position: relative;
}

#cover-home{
    width: 100%;
    z-index: 0;
}

.container-title-home{
    width: 50%;
    height: 30vh;
    position: absolute;
    top: 20vh;
    left: 5vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

#title-home{
    font-size: 7vw;
    font-weight: 700;
    color: #dd6477;
    font-stretch: expanded;
    font-family: 'Playfair Display', serif;;
    letter-spacing: 1.4vw;
    filter: drop-shadow(1.5px 1px 0px #ffff);
}

#subtitle-home{
    font-size: 1.9vw;
    color: #75343e;
    margin-left: 10vw;
    font-weight: 700;
}

#button-title-home{
    font-size: 2.1vw;
    color: white;
    background-color: #dd6477;
    padding: 0.8vw;
    margin-left: 25vw;
    margin-top: 10vh;
    font-weight: 700;
    width: 30%;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 5px 5px 2px rgba(122, 106, 106, 0.479);
    transition: all 450ms;
}

#button-title-home:hover{
    background-color: #75343e;
    width: 32%;
}

section{
    width: 100vw;
    margin-bottom: 5vh;
}
.product-category-home-carrousel-black{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 7vh;
    position: relative;
}

section:hover .image-product img{
    width: 40vw;
}

.title-category{
    font-size: 2.5vw;
    font-weight: 700;
    letter-spacing: 1.2vw;
    color: white;
}

.container-product{
    display: flex;
    justify-content: space-around;
    width: 85vw;
    margin-top: 5vw;
}
.information-product{
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
}

.name-product{
    color: white;
    font-weight: 500;
    font-size: 3vw;
    width: 80%;
    letter-spacing: 0.5vw;
}

.description-product{
    color: white;
    font-size: 1.2vw;
    width: 65%;
    margin-top: 5vh;
    text-align: left;
}

.container-information-small-card{
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}

.information-small-card{
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: #dd6477;
    box-shadow: 2px 2px 2px #d6b9bd;
    border-radius: 1.7vw;
    padding: 1vw;
}

.anotation-small-card{
    color: white;
    font-size: 1.2vw;
    font-weight: 900;
    letter-spacing: 0.5vw;
    text-align: center;
    margin-bottom: 0.9vw;
}

.information-small-card p{
    color: white;
    font-size: 1.1vw;
    text-align: center;
}

.image-product{
    width: 35vw;
}

.image-product img{
    width: 35vw;
    filter:  drop-shadow(5px 5px 10px #5a59599c) ;
    transition: all 450ms;
}

#arrow-left, #arrow-right{
    color: rgb(110, 110, 110);
    font-size: 2.2vw;
    top: 45vh;
    transition: all 450ms;
}

#arrow-right{
    position: absolute;
    right: 4vw;
}

#arrow-left{
    position: absolute;
    left: 3vw;
}

#arrow-left:hover, #arrow-right:hover{
    font-size: 5vw;
}

.product-category-home-carrousel-white{
    background-color: #f3f5f6;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 7vh;
    padding-top: 7vh;
    padding-bottom: 7vh;
    position: relative;
}

.product-category-home-carrousel-white .title-category,
.product-category-home-carrousel-white .name-product,
.product-category-home-carrousel-white .description-product,
.product-category-home-carrousel-white .anotation-small-card, 
.product-category-home-carrousel-white #arrow-left,
.product-category-home-carrousel-white #arrow-right,
.product-category-home-carrousel-white .information-small-card p{
    color: #222121;
}

.product-category-home-carrousel-white .information-small-card{
    background-color: #629677;
    box-shadow: 2px 2px 2px rgba(26, 35, 29, 0.774);
}
hr{
    width: 60vw;
    margin-top: 10vh;
}
.container-benefits{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 7vh;
    width: 100%;
    padding: 3vh 5vw;
}
.benefit{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    margin-bottom: 10px;
}

.benefit > p{
    color: white;
    font-size: 1.4vw;
}

.benefit > i{
    font-size: 3vw;
    color: #dd6477;
    margin-bottom: 1.5vh;
    transition: all 450ms;    
}

.benefit > i:hover{
    font-size: 3.5vw;
}

