*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #f3f5f6;
    width: 100%;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0%;
}

/* Ofertas */

.sec_ofertas {
    width: 100%;
}

.sec_ofertas img {
    width: 100%;
    height: 10%;
}

/* Productos */
.sec_productos{
    width: 100%;
    margin-top: 10px;
}

.cont_categorias {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25px;
    padding: 10px;
}
.catego {
    display: flex;
    align-items: center;
    justify-content: center;
}

.catego h2{
    font-size: 1.1em;
    border-radius: 10px;
    background-color: #7A1745;
    color: white;
    padding: 5px;
}

.cont-presentacion{
    width: 100%;
    margin-bottom: 25px;
    padding: 0px 10px;
}
.cont_prod {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.cont_filtros {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    padding: 20px 10px;
    margin-bottom: 15px;
}

.cont_filtros p{
    color: white;
    font-size: 1em;
    font-weight: lighter;
    margin-bottom: 10px;
}

.cont_filtros form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cont_filtros form label{
    color: white;
    font-weight: 100;
    font-size: 0.9em;
    padding: 5px;
}
.cont_tproductos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 10px;
}
.card_producto{
    background-color: #EEE0CB;
    width: 80%;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.cont_imgproducto{
    width: 100%;
    display: flex;
    justify-content: center;
}

.cont_imgproducto img {
    width: 100%;
    transition: all 1s ease;
    margin-bottom: 10px;
}

.precio{
    font-size: 1.2em;
    font-weight: 500;
}
.descuento{
    color: green;
    margin-bottom: 10px;
}

.nombre{
    margin-bottom: 5px;
}
.cont_dsc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}
.btn_dsc{
    text-decoration: none;
    background-color: #7A1745;
    color: white;
    border-radius: 7px;
    padding: 5px;
}

.fa-cart-shopping{
    color: #629677;
    font-size: 1.2em;
    margin-right: 10px;
}

            /* Beneficios */

.sec_beneficios{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px 0px 0px;
}
.beneficio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.beneficio .fa-solid{
    font-size: 2em;
    color: #7A1745;
}

            /* Suscripcion */

.sec_suscripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EEE0CB;
    padding: 30px 0px 30px 0px;
    width: 100%;
    margin-top: 30px;
}
.suscripcion_info{
    width: 90%;
    margin-bottom: 15px;
}
.suscripcion_info p{
    margin: 0%;
    text-align: left;
}

.suscripcion_input{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#suscripcion{
    border-radius: 7px;
    width: 60%;
    font-size: 1em;
    padding: 5px;
    border: none;
    margin-right: 10px;
}

.suscripcion_input button{
    text-decoration: none;
    background-color: #7A1745;
    color: white;
    border-radius: 7px;
    padding: 5px;
    border: none;
    font-size: 1em;
}



 
@media (min-width: 361px) {
    main{
        width: 100%;
    }

/* Productos */
.catego {
    display: flex;
    align-items: center;
    justify-content: center;
}

.catego h2{
    font-size: 1.3em;
    border-radius: 10px;
    background-color: #7A1745;
    color: white;
    padding: 5px 15px;
}

.cont-presentacion{
    width: 100%;
    margin-bottom: 25px;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-presentacion p{
    width: 90%;
    font-size: 1.1em;
}

.cont_prod {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.cont_filtros {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    padding: 30px 20px;
    margin-bottom: 15px;
}

.cont_filtros p{
    color: white;
    font-size: 1.2em;
    font-weight: lighter;
    margin-bottom: 10px;
}

.cont_filtros form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cont_filtros form label{
    color: white;
    font-weight: 100;
    font-size: 1em;
    padding: 5px;
}
.cont_tproductos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}
.card_producto{
    background-color: #EEE0CB;
    width: 42%;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.precio{
    font-size: 1.4em;
    font-weight: 600;
    color: #333333;
}

.nombre{
    font-size: 1.1em;
    margin-bottom: 5px;
}

.cont_dsc{
    margin-top: 10px;
}
.btn_dsc{
    font-size: 1.2em;
    padding: 7px;
    font-weight: 600;
}

.fa-cart-shopping{
    font-size: 1.3em;
}

            /* Beneficios */

.sec_beneficios{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px 0px 0px;
    width: 100%;
    padding: 15px;
}
.beneficio{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    margin-bottom: 10px;
}
.beneficio .fa-solid{
    font-size: 2.3em;
    color: #7A1745;
    margin-bottom: 15px;
}

            /* Suscripcion */

.sec_suscripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EEE0CB;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.suscripcion_info{
    width: 90%;
    margin-bottom: 15px;
}
.suscripcion_info p{
    margin: 0%;
    text-align: left;
    font-size: 1.1em;
}

.suscripcion_input{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#suscripcion{
    border-radius: 7px;
    width: 80%;
    font-size: 1.1em;
    padding: 7px;
    border: none;
    margin-right: 10px;
}

.suscripcion_input button{
    border-radius: 7px;
    padding: 7px;
    border: none;
    font-size: 1.1em;
}

}
@media (min-width: 769px) {
    main{
        width: 100%;
    }

/* Productos */
.catego {
    display: flex;
    align-items: center;
    justify-content: center;
}

.catego h2{
    font-size: 1.5em;
    border-radius: 10px;
    background-color: #7A1745;
    color: white;
    padding: 15px 50px;
}

.cont_prod {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 35px;
    align-items: flex-start;

}

.cont_filtros {
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    padding: 30px 20px;
    margin-bottom: 15px;
    border-radius: 7px;
    margin-left: 40px;
}

.cont_filtros p{
    color: white;
    font-size: 1.2em;
    font-weight: lighter;
    margin-bottom: 10px;
}
.cont_filtros form{
    display: flex;
    flex-direction: column;
}
.filtro-check{
    margin-bottom: 10px;
}
.cont_tproductos{
    width: 80%;
}
.card_producto{
    background-color: #EEE0CB;
    width: 30%;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.fa-cart-shopping{
    font-size: 1.3em;
    transition: transform 450ms;
}

.btn_dsc{
    transition: all 450ms;
}

.btn_dsc:hover{
    color: white;
    font-size: 1.25em;
    background-color: #561131;
}
.card_producto:hover i{
        transform: rotate(-90deg);
}

.card_producto:hover{
    box-shadow: 1px -1px 20px 3px  rgba(0, 0, 0, 0.644);
    transition: all 450ms ease;
}
.card_producto:hover .cont_imgproducto img {
    filter: drop-shadow(5px 10px 8px black);
}

.cont_imgproducto img {
    transition: all 450ms ease;
}



            /* Beneficios */

.beneficio{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    margin-bottom: 10px;
}
.beneficio .fa-solid{
    font-size: 2.4em;
    color: #7A1745;
    margin-bottom: 15px;
    transition: all 450ms;
}

.beneficio .fa-solid:hover{
    font-size: 2.7em;
}

/* Suscripcion */

.suscripcion_info{
    margin-bottom: 20px;
}

.suscripcion_input{
    width: 80%;
}

#suscripcion input{
    margin-right: 15px;
    transition: all 450ms;
}

#suscripcion:hover{
    border: #333333 1px solid;
}

.suscripcion_input button{
    padding: 7px 12px;
    transition: all 450ms;
}

.suscripcion_input button:hover{
    background-color: #561131;
}
    
}