* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.body {
    font-weight: 400;
}

.body-header {
    font-size: 3em;
    color: #ce367d;
}

.body-footer {
    font-size: 3em;
    color: #ce367d;
}

main {
    background-color: #F3F5F6;
    padding-top: 2em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: #EEE0CB;
    width: 90vw;
    padding: 2em;
    border-radius: 5px;
    margin: 1.5em auto 0;
    box-shadow: #bc7495 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.form {
    display: flex;
    flex-direction: column;
}

.password,
.buttons,
.reCAPTCHA {
    padding-bottom: 1.5em;
}

.form-title {
    padding-bottom: 0.8em;
    text-align: center;
}

.form-subtitle {
    padding-bottom: 2.1em;
    text-align: center;
    font-size: 0.9em;
    color: #333333;
}

.input-item {
    padding-bottom: 1.5em;
}

label {

    color: #F3F5F6;
    font-size: 1.2em;
    padding-bottom: 0.08em;
    opacity: 0.8;
    position: relative;
    z-index: 1;
    padding-left: 0.5em;
    font-weight: 550;
    padding-top: 0.5em;
    display: flex;
    align-items: center;
    margin-bottom: 0.25em;
}

label::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7A1745;
    border-radius: 6px;
    opacity: 0.6;
    z-index: -1;
}

.box-images {
    width: 100%;
    height: 100%;
    animation-name: background-fondo-big;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    box-shadow: #bc7495 2px -2px 5px 0px, rgba(0, 0, 0, 0.23) 3px -2px 6px;
    border: 2px solid rgba(0, 0, 0, 0.16);
    opacity: 0.87;
}

.box-container {
    margin-top: 7em;
    width: 100vw;
    height: 30em;
}

input {
    width: 100%;
    padding: 1em;
    border-radius: 4px;
    border: 1px solid #7a17456e;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    margin-bottom: 1.1em;
    padding: 0.5em;
    width: 70%;
    font-size: 1em;
    border: none;
    color: #F3F5F6;
}

.send {
    background-color: #7A1745;
    transition-property: background-color, border, font-size;
    transition-duration: 0.4s;
    transition-timing-function: linear;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px,
        rgba(0, 0, 0, 0.23) 0 3px 6px;
}

.delete {
    background-color: #629677;
    transition-property: background-color, border, background-size;
    transition-duration: 0.4s;
    border-radius: 5px;
    transition-timing-function: linear;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px,
        rgba(0, 0, 0, 0.23) 0 3px 6px;
}

.send:focus {
    background-color: #ce367d;
    border: 2px solid #ce367d;
    font-size: 1.15em;
}

.delete:focus {
    background-color: #63ce8e;
    border: 2px solid #63ce8e;
    font-size: 1.15em;
}

.reCAPTCHA {
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    font-size: 0.8em;
    color: #333333;
}

.account-container {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1.2em;
    padding-top: 1.2em;
    color: #7A1745;
}

h2 {
    color: #7A1745;
    position: relative;
    z-index: 1;
    font-weight: 900;
}

.newslester {
    flex-direction: row;
}

.send:hover {
    border: 3px solid #ce367d;
    background-color: #ce367d;
    font-size: 1.15em;
}

.delete:hover {
    border: 2px solid #63ce8e;
    background-color: #63ce8e;
    font-size: 1.15em;
}

@keyframes background-fondo-big {

    0% {
        background-image: url('/images/vino-1.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    100% {
        background-image: url('/images/vino-5.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (min-width: 600px) {

    .form-container {
        width: 70vw;
    }

    .inputs-wrapper {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1.5em;
        justify-content: center;
        padding: 0.01em;
    }

    .inputs-wrapper .input-item {
        display: block;
        width: 45%;
    }

    .password {
        margin-top: none;
    }

    .buttons {
        margin-top: 1.5em;
        font-size: 1.1em;
    }

    .form-title {
        font-size: 1.8em;
    }

    .form-subtitle,
    .reCAPTCHA {
        font-size: 0.75em;
    }

    .account-container {
        font-size: 1.3em;
    }

    .reCAPTCHA {
        width: 75%;
    }

    .password label,
    label {
        font-size: 0.95em;
    }
    .box-container {
        margin-top: 7em;
    }

}

@media (min-width: 1024px) {

    .form-container {
        width: 55vw;
    }

    label,
    .password label {
        font-size: 1em;

    }

    .form-subtitle {
        font-size: 0.9em;
    }

    .reCAPTCHA {
        font-size: 0.8em;
        width: 70%;
    }

    .box-container {
        margin-top: 7em;
    }
}