*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #f3f5f6;
    width: 100%;
    font-family: 'Lato', sans-serif;
}
.carr-text{
    font-size: 18px;
    margin-bottom: 15px;
}
h1{
    margin-left: 15px;
}
p{
    font-weight: bold;
    font-size: 22px;
}
b{ font-size: 17px;
    opacity: 0.7;
}
.content-resum{
    border: 1px solid #808080;
    width: 450px;
    margin-bottom: 20px;
    margin-left: 70px;
}
.dato{
    margin-left: 50px;
    line-height: 50px;
    padding: 5px;
}
.total{
    font-size:28px ;
    font-weight: bold;
}
.buttons{
   background-color: #7A1745;
   width:200px ;
   height: 30px;
   margin-left: 80px;
}
.barras{
    width: 300px;
}
hr{
    width: 380px;
}
.lineas{
    width: 700px;
    margin-bottom: 20px;
}
.img{
    width: 200px;
    display: flex;
    justify-content: center;
    margin-left:200px;

}
.text-product{
    margin-left:100px;
    width: 500px;
    margin-left: 200px;
    margin-top: 8px;
}
.text2{
    margin-left: 265px;
    margin-top: 40px;
    font-size: 20;
}
p5{
    font-size: 20px;
    opacity: 0.7;
}
.text3{
    margin-left: 257px;
    margin-top: 20px;
    font-size: 10px;
}
.text4{
    margin-left: 255px;
    margin-top: 40px;
    font-size: 20;
}
.barra2{
    margin-right: 700px;
    margin-top: 10px;
    width: 75px;
}
.text5{
    margin-left: 255px;
    margin-top: 40px;
    font-size: 20;
}
.p3{
    margin-left: 200px;
}
.text6{
    margin-left: 260px;
    margin-top: 10px;
    font-size: 20;
    font-weight: bold;
}
.basura{
    width: 20px;
    display: flex;
    justify-content: center;
    margin-left:500px;
    margin-top: 15px
}
.lineas{
    width: 700px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.buttons2{
    background-color: #7A1745;
    width:200px ;
    height: 30px;
    margin-left: 190px;
 }
.buttons3{
    width: 100px;
    margin-left: 250px;
    margin-bottom: 15px;
}