*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #222121;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0%;
}

.container-profile{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
}
.image-profile-container{
    width: 30%;
    background-color: #f3f5f6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 3px #5c5c5c;
    flex-direction: column;
}

.image-profile-container img{
    width: 80%;
    border-radius: 50%;
    margin-top: 20px;
}

.title-profile-image{
    width: 100%;
    background-color: #333333;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    margin-top: 10px;
}
.title-profile-image h2{
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    padding: 10px 0px 0px 20px;
}

.title-profile-image p{
    color: #f3f5f6;
    font-size: 1em;
    padding: 0px 0px 15px 30px;
}

.level{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.medals{
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
}
.medals img{
    width: 30%;
    margin-left: 10px;
}

#membership-level-p{
    width: 70%;
    font-size: 1.2em;
    font-family: 'Poppins';
}
.benefits{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.benefits h3{
    font-size: 1.05em;
    letter-spacing: 0.3vw;
}
.benefits p{
    color: #629677;
    font-weight: 700;
    font-size: 1.1em;
}

.container-profile-user{
    width: 60%;
    display: flex;
    background-color: #f3f5f6;
    margin-right: 30px;
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 3px #5c5c5c;
}

.container-profile-information{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title-profile{
    width: 100%;
    background-color: #333333;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
}
.title-profile h2{
    color: #f3f5f6;
    font-weight: bold;
    font-size: 2.1em;
    padding: 10px 0px 0px 20px;
}

.title-profile p{
    color: #f3f5f6;
    font-size: 1.2em;
    padding: 0px 0px 15px 30px;
}
.container-profile-user h3{
    width: 100%;
    padding: 20px 0px 7px 35px;
    font-size: 1.2em;
    letter-spacing: 0.5vw;
}
.data-container{
    width: 50%;
    margin-bottom: 10px;
}
.information{
    width: 100%;
    padding: 0px 0px 20px 35px;
    display: flex;
    flex-wrap: wrap;
}
.subtitle-information{
    width: 100%;
    padding: 5px;
    font-size: 1.05em;
    color: #333333;
}
.data{
    width: 100%;
    padding: 5px;
    font-size: 1em;
}
.button-edit{
    width: 50%;
    padding: 10px;
}

.button-edit button{
    width: 70%;
    background-color: #dd6477;
    border: #dd6477 solid 1px;
    border-radius: 15px;
    transition: all 450ms;
    padding: 7px 0px;
    font-size: 1.2em;
    margin-top: 10px;
    color: white;
    box-shadow: 2px 2px 3px #9a6b6b;
    font-family: 'Poppins';
}

.button-edit button:hover{
    background-color: #93434f;
}

@media (min-width: 361px) {
    main{
        width: 100%;
    }
}