
<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs',{title: 'Inicio', css:'/home'}) %>
<body>
    <%- include("./partials/header.ejs") %>

    <main class="principal-title-home">
        <img id="cover-home" src="/images/cover.png" alt="cover">
        <div class="container-title-home">
            <p id="title-home">CAVA REAL</p>
            <p id="subtitle-home">El sabor real del Vino</p>
            <a id="button-title-home" href="/products/all">A degustar!</a>
        </div>
    </main>
        
    <section class="product-category-home-carrousel-black">
        <p class="title-category">VINOS</p>
        <i id="arrow-left" class="fa-solid fa-chevron-left"></i>
        <i id="arrow-right" class="fa-solid fa-chevron-right"></i>
        <a class="container-product">
                <div class="information-product">
                    <p class="name-product">DE SANGRE · Cabernet Sauvignon</p>
                    <p class="description-product">Luigi Bosca De Sangre Cabernet Sauvignon es un tinto de color rojo profundo. Se distingue por sus aromas de excelente tipicidad varietal, dominados por la fruta negra y las notas de pimienta muy bien equilibradas con los tonos de torrefacción producto de su crianza en barricas. En el paladar es compacto, tenso, con muy buena estructura y cuerpo. Taninos finos y maduros, acidez equilibrada que aporta buena fluidez y final persistente y elegante.</p>
                    <div class="container-information-small-card">
                        <div class="information-small-card">
                            <p class="anotation-small-card">VIÑEDO</p>
                            <p>Las Compuertas, Agrelo, Gualtallary y Altamira</p>
                        </div>
                        <div class="information-small-card">
                            <p class="anotation-small-card">VARIEDAD</p>
                            <p>Cabernet Sauvignon</p>
                        </div>
                    </div>
                </div>
               <div class="image-product">
                    <img src="/images/product2.png" alt="">
                </div>
            </a>
    </section>

    <section class="product-category-home-carrousel-white">
        <p class="title-category">LICORES</p>
        <i id="arrow-left" class="fa-solid fa-chevron-left"></i>
        <i id="arrow-right" class="fa-solid fa-chevron-right"></i>
        <a class="container-product">
                <div class="information-product">
                    <p class="name-product">DE SANGRE · Cabernet Sauvignon</p>
                    <p class="description-product">Luigi Bosca De Sangre Cabernet Sauvignon es un tinto de color rojo profundo. Se distingue por sus aromas de excelente tipicidad varietal, dominados por la fruta negra y las notas de pimienta muy bien equilibradas con los tonos de torrefacción producto de su crianza en barricas. En el paladar es compacto, tenso, con muy buena estructura y cuerpo. Taninos finos y maduros, acidez equilibrada que aporta buena fluidez y final persistente y elegante.</p>
                    <div class="container-information-small-card">
                        <div class="information-small-card">
                            <p class="anotation-small-card">VIÑEDO</p>
                            <p>Las Compuertas, Agrelo, Gualtallary y Altamira</p>
                        </div>
                        <div class="information-small-card">
                            <p class="anotation-small-card">VARIEDAD</p>
                            <p>Cabernet Sauvignon</p>
                        </div>
                    </div>
                </div>
               <div class="image-product">
                    <img src="/images/product2.png" alt="">
                </div>
            </a>
    </section>

    <section class="product-category-home-carrousel-black">
        <p class="title-category">ACCESORIOS</p>
        <i id="arrow-left" class="fa-solid fa-chevron-left"></i>
        <i id="arrow-right" class="fa-solid fa-chevron-right"></i>
        <a class="container-product">
                <div class="information-product">
                    <p class="name-product">DE SANGRE · Cabernet Sauvignon</p>
                    <p class="description-product">Luigi Bosca De Sangre Cabernet Sauvignon es un tinto de color rojo profundo. Se distingue por sus aromas de excelente tipicidad varietal, dominados por la fruta negra y las notas de pimienta muy bien equilibradas con los tonos de torrefacción producto de su crianza en barricas. En el paladar es compacto, tenso, con muy buena estructura y cuerpo. Taninos finos y maduros, acidez equilibrada que aporta buena fluidez y final persistente y elegante.</p>
                    <div class="container-information-small-card">
                        <div class="information-small-card">
                            <p class="anotation-small-card">VIÑEDO</p>
                            <p>Las Compuertas, Agrelo, Gualtallary y Altamira</p>
                        </div>
                        <div class="information-small-card">
                            <p class="anotation-small-card">VARIEDAD</p>
                            <p>Cabernet Sauvignon</p>
                        </div>
                    </div>
                </div>
               <div class="image-product">
                    <img src="/images/product2.png" alt="">
                </div>
            </a>
    </section>
        
    <%- include("./partials/benefits.ejs") %>
    <%- include("./partials/footer.ejs") %>
</body>
</html>