<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ecd0310594.js" crossorigin="anonymous"></script>

    <link rel="icon" href="/images/icon-pesta帽a.png">
    <title>Home</title>
</head>
<body>
    <%- include("./partials/header.ejs") %>
    <%- include("./partials/nav.ejs") %>

    <main>
        <section id="OFERTAS" class="sec_ofertas">
            <img src="/images/copa-uvas.jpg" alt="banner">
        </section>
        
        <section id="PRODUCTOS" class="sec_productos">
            <div class="cont_categorias">
                <div class="catego">
                    <h2>Vinos</h2>
                </div>
                <div class="catego">
                    <h2>Whiskys</h2>
                </div>
                <div class="catego">
                    <h2>Aperitivos</h2>
                </div>
                <div class="catego">
                    <h2>Accesorios</h2>
                </div>
            </div>

            <div class="cont-presentacion">
                <p>Somos Cava Real y nuestro sitio de vinos ofrece una amplia y cuidadosamente seleccionada gama de vinos 
                    de calidad premium provenientes de diversas regiones vin铆colas alrededor del mundo .</p>
            </div>
            
            <div class="cont_prod">
                <div class="cont_filtros">
                    <p>FILTROS</p>
                    <form action="#" method="post">
                    <div class="filtro-check">
                    <input type="checkbox" name="filtros"  id="Afrutado" multiple>
                    <label for="Afrutado">Afrutado</label>
                </div>
                    <div class="filtro-check">
                    <input type="checkbox" name="filtros"  id="Muy-complejo" multiple>
                    <label for="Muy-complejo">Muy complejo</label>
                </div>
                    <div class="filtro-check">
                    <input type="checkbox" name="filtros"  id="Seco" multiple>
                    <label for="Seco">Seco</label>
                </div>
                    <div class="filtro-check">
                    <input type="checkbox" name="filtros"  id="Postre" multiple>
                    <label for="Postre">Postre</label>
                </div>
                    <div class="filtro-check">
                    <input type="checkbox" name="filtros"  id="Mucha-madera" multiple>
                    <label for="Mucha-madera">Mucha madera</label>
                </div>
                    <div class="filtro-check">
                    <input type="checkbox" name="filtros"  id="Nada-madera" multiple>
                    <label for="Nada-madera">Nada madera</label>
                </div>
                    <div class="filtro-check">
                    <input type="checkbox" name="filtros"  id="Amable" multiple>
                    <label for="Amable" >Amable</label>
                </div>
                    <div class="filtro-check">
                    <input type="checkbox" name="filtros"  id="Refrescante" multiple>
                    <label for="Refrescante">Refrescante</label>
                </div>
                    <div class="filtro-check">
                    <input type="checkbox" name="filtros"  id="Aterciopelado" multiple>
                    <label for="Aterciopelado">Aterciopelado</label>
                </div>
                    <div class="filtro-check">
                    <input type="checkbox" name="filtros"  id="Taninos-intensos" multiple>
                    <label for="Taninos-intensos">Taninos intensos</label>
                </div>
                    <div class="filtro-check">
                    <input type="checkbox" name="filtros"  id="Liviano" multiple>
                    <label for="Liviano">Liviano</label>
                </div>
                    <div class="filtro-check">
                    <input type="checkbox" name="filtros"  id="Mucho-cuerpo" multiple>
                    <label for="Mucho-cuerpo">Mucho cuerpo</label>
                </div>
                    <div class="filtro-check">
                    <input type="checkbox" name="filtros"  id="Delicado" multiple>
                    <label for="Delicado">Delicado</label>
                </div>
                    <div class="filtro-check">
                    <input type="checkbox" name="filtros"  id="Estructurado" multiple>
                    <label for="Estructurado">Estructurado</label>
                </div>
                    </form>
                </div>
                <div class="cont_tproductos">
                    <div class="card_producto">
                        <div class="cont_imgproducto">
                            <img src="/images/product1.png" alt="producto">
                        </div>
                        <p class="precio">$91.500</p>
                        <p class="descuento">10% Off</p>
                        <p class="nombre"> DE SANGRE 路 Cabernet Sauvignon </p>
                        <div class="cont_dsc">
                            <a href="/productDetail/1" class="btn_dsc">Ver producto</a>
                            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                    <div class="card_producto">
                        <div class="cont_imgproducto">
                            <img src="/images/product2.png" alt="producto">
                        </div>
                        <p class="precio">$7.559</p>
                        <p class="descuento">10% Off</p>
                        <p class="nombre"> DE SANGRE 路 Red Blend</p>
                        <div class="cont_dsc">
                            <a href="/productDetail/2" class="btn_dsc">Ver producto</a>
                            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                    <div class="card_producto">
                        <div class="cont_imgproducto">
                            <img src="/images/product3.webp " alt="producto">
                        </div>
                        <p class="precio">$3.504</p>
                        <p class="descuento">10% Off</p>
                        <p class="nombre"> La Linda Malbec 路 750 ml</p>
                        <div class="cont_dsc">
                            <a href="/productDetail/3" class="btn_dsc">Ver producto</a>
                            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                    <div class="card_producto">
                        <div class="cont_imgproducto">
                            <img src="/images/product4.png" alt="producto">
                        </div>
                        <p class="precio">$39.900</p>
                        <p class="descuento">10% Off</p>
                        <p class="nombre"> LUIGI BOSCA 路 Cabernet Sauvignon</p>
                        <div class="cont_dsc">
                            <a href="/productDetail/4" class="btn_dsc">Ver producto</a>
                            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                    <div class="card_producto">
                        <div class="cont_imgproducto">
                            <img src="/images/product5.png" alt="producto">
                        </div>
                        <p class="precio">$78.600</p>
                        <p class="descuento">10% Off</p>
                        <p class="nombre"> DE SANGRE 路 Cabernet Franc</p>
                        <div class="cont_dsc">
                            <a href="/productDetail/5" class="btn_dsc">Ver producto</a>
                            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                    <div class="card_producto">
                        <div class="cont_imgproducto">
                            <img src="/images/product6.png" alt="producto">
                        </div>
                        <p class="precio">$3.045</p>
                        <p class="descuento">10% Off</p>
                        <p class="nombre"> La Linda Torrontes 路 750 ml</p>
                        <div class="cont_dsc">
                            <a href="/productDetail/6" class="btn_dsc">Ver producto</a>
                            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                    <div class="card_producto">
                        <div class="cont_imgproducto">
                            <img src="/images/product7.png" alt="producto">
                        </div>
                        <p class="precio">$50.000</p>
                        <p class="descuento">10% Off</p>
                        <p class="nombre"> LUIGI BOSCA 路 Chardonnay - Luigi Bosca 路 Chardonnay</p>
                        <div class="cont_dsc">
                            <a href="/productDetail/7" class="btn_dsc">Ver producto</a>
                            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                    <div class="card_producto">
                        <div class="cont_imgproducto">
                            <img src="/images/product8.png" alt="producto">
                        </div>
                        <p class="precio">$50.000</p>
                        <p class="descuento">10% Off</p>
                        <p class="nombre"> LA LINDA 路 Ros茅 Malbec</p>
                        <div class="cont_dsc">
                            <a href="/productDetail/8" class="btn_dsc">Ver producto</a>
                            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                    <div class="card_producto">
                        <div class="cont_imgproducto">
                            <img src="/images/product9.png" alt="producto">
                        </div>
                        <p class="precio">$61.200</p>
                        <p class="descuento">10% Off</p>
                        <p class="nombre"> DE SANGRE 路 Malbec D.O.C</p>
                        <div class="cont_dsc">
                            <a href="/productDetail/9" class="btn_dsc">Ver producto</a>
                            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="BENEFICIOS" class="sec_beneficios">
            <div class="beneficio">
                <i class="fa-solid fa-truck-fast"></i>
                <p>Envios rapidos y a todo el pa铆s</p>
            </div>
            <div class="beneficio">
                <i class="fa-solid fa-credit-card"></i>
                <p>Aceptamos todas las tarjetas</p>
            </div>
            <div class="beneficio">
                <i class="fa-solid fa-envelope"></i>
                <p>Consultas a soporte las 24hs</p>
            </div>
        </section>
        <form id="SUSCRIPCION" class="sec_suscripcion">
            <div class="suscripcion_info">
                <p>
                    Nuestro sitio est谩 dirigido a una <b>audiencia apasionada por el mundo del vino </b>, desde 
    conocedores y coleccionistas hasta entusiastas aficionados que deseen descubrir y disfrutar de 
    experiencias vin铆colas 煤nicas. <b>Subscribete</b> para recibir contenido interesante, promos descuentos y mas!
                </p>
            </div>
            <div class="suscripcion_input">
                <input type="email" id="suscripcion" placeholder="marta978@hotmail.com">
                <label for="suscripcion"> <button> Enviar </button></label>
            </div>
        </form>
    </main>

    <%- include("./partials/footer.ejs") %>
</body>
</html>