<section id="OFERTAS" class="sec_ofertas">
    <img src="/images/copa-uvas.jpg" alt="banner">
</section>

<section id="PRODUCTOS" class="sec_productos">
    <div class="cont_categorias">
        <div class="catego">
            <h2>Vinos</h2>
        </div>
        <div class="catego">
            <h2>Whiskys</h2>
        </div>
        <div class="catego">
            <h2>Aperitivos</h2>
        </div>
        <div class="catego">
            <h2>Accesorios</h2>
        </div>
    </div>

    <div class="cont-presentacion">
        <p>Somos Cava Real y nuestro sitio de vinos ofrece una amplia y cuidadosamente seleccionada gama de vinos 🍷
            de calidad premium provenientes de diversas regiones vinícolas alrededor del mundo 🌍.</p>
    </div>
    
    <div class="cont_prod">
        <div class="cont_filtros">
            <p>FILTROS</p>
            <form action="#" method="post">
            <div class="filtro-check">
            <input type="checkbox" name="filtros"  id="Afrutado" multiple>
            <label for="Afrutado">Afrutado</label>
        </div>
            <div class="filtro-check">
            <input type="checkbox" name="filtros"  id="Muy-complejo" multiple>
            <label for="Muy-complejo">Muy complejo</label>
        </div>
            <div class="filtro-check">
            <input type="checkbox" name="filtros"  id="Seco" multiple>
            <label for="Seco">Seco</label>
        </div>
            <div class="filtro-check">
            <input type="checkbox" name="filtros"  id="Postre" multiple>
            <label for="Postre">Postre</label>
        </div>
            <div class="filtro-check">
            <input type="checkbox" name="filtros"  id="Mucha-madera" multiple>
            <label for="Mucha-madera">Mucha madera</label>
        </div>
            <div class="filtro-check">
            <input type="checkbox" name="filtros"  id="Nada-madera" multiple>
            <label for="Nada-madera">Nada madera</label>
        </div>
            <div class="filtro-check">
            <input type="checkbox" name="filtros"  id="Amable" multiple>
            <label for="Amable" >Amable</label>
        </div>
            <div class="filtro-check">
            <input type="checkbox" name="filtros"  id="Refrescante" multiple>
            <label for="Refrescante">Refrescante</label>
        </div>
            <div class="filtro-check">
            <input type="checkbox" name="filtros"  id="Aterciopelado" multiple>
            <label for="Aterciopelado">Aterciopelado</label>
        </div>
            <div class="filtro-check">
            <input type="checkbox" name="filtros"  id="Taninos-intensos" multiple>
            <label for="Taninos-intensos">Taninos intensos</label>
        </div>
            <div class="filtro-check">
            <input type="checkbox" name="filtros"  id="Liviano" multiple>
            <label for="Liviano">Liviano</label>
        </div>
            <div class="filtro-check">
            <input type="checkbox" name="filtros"  id="Mucho-cuerpo" multiple>
            <label for="Mucho-cuerpo">Mucho cuerpo</label>
        </div>
            <div class="filtro-check">
            <input type="checkbox" name="filtros"  id="Delicado" multiple>
            <label for="Delicado">Delicado</label>
        </div>
            <div class="filtro-check">
            <input type="checkbox" name="filtros"  id="Estructurado" multiple>
            <label for="Estructurado">Estructurado</label>
        </div>
            </form>
        </div>
        <div class="cont_tproductos">

            <!-- <% products %> -->
            <% products.forEach(e => { %>
                <div class="card_producto">
                    <div class="cont_imgproducto">
                        <img src="/images/<%= e.img %>" alt="producto">
                    </div>
                    <p class="precio">$ <%= e.priceUnity %></p>
                    <p class="descuento">10% Off</p>
                    <p class="nombre"> <%= e.name %> </p>
                    <div class="cont_dsc">
                        <a href="/product/detail/<%= e.id %>" class="btn_dsc">Ver producto</a>
                        <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            <% }) %>

            <% if (isUserLogger) { %>
                <a href="/product/add" class="btn_dsc"> Crear producto </a>
            <% } %>
            
        </div>
    </div>
</section>