<%- include('./head.ejs',{title: '', css:'/partials/footer'}) %>

<footer>

    <section class="logo-section-footer">
        <p id="title-footer">CAVA REAL</p>
        <p id="subtitle-footer">El sabor real del Vino</p>
        <hr>
        <nav class="nav-social-networks">
            <a href="www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
            <a href="www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
            <a href="www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
        </nav>
    </section>
    <section class="categories-section-footer">
            <p class="section-subtitle">TIENDA</p>
            <a>Vinos</a>
            <a>Licores</a>
            <a>Accesorios</a>
            <a>Ofertas</a>
    </section>
    <section class="container-suscription">
        <p class="information-suscription">
            <b>Subscribete</b> para recibir contenido interesante, promos descuentos y mas!
        </p>
        <form class="form-suscription">
                <input type="email" id="suscripcion" placeholder="marta978@hotmail.com">
                <button>Enviar</button>
        </form>
        <p id="copyright">Copyright © 2023 CavaReal, Inc.</p>
    </section>
</footer>