<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/partials/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <footer id="INFORMACION">
        <div class="cont_info_foot div_foot">
            <div class="cont_logo">
                <!--Agregar solo frase del logo-->
                <img src="/images/slogan.png" alt="logo">
            </div>
            <div class="cont_info ">
                <p> <i class="fa-solid fa-phone"></i> 3885732946 </p>
                <p> Jujuy, Argentina</p>
                <p> Grupo 7</p>
            </div>
        </div>
        <div class="linea">
        </div>
        <div class="cont_foot div_foot">
            <h3>Servicio al cliente</h3>
            <p>Ayuda</p>
            <p>Preguntas frecuentes</p>
            <p>Términos y condiciones</p>
            <p>Privacidad</p>
        </div>
        <div class="linea">
        </div>
        <div class="cont_foot div_foot">
            <h3>Tienda</h3>
            <p>Vinos</p>
            <p>Licores</p>
            <p>Accesorios</p>
            <p>Ofertas</p>
        </div>
        <div class="linea">
        </div>
        <div class="cont_redes div_foot">
            <h3>Seguinos</h3>
            <nav class="nav_redes">
                <a href="www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
                <a href="www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
                <a href="www.twitter.com"><i class="fa-brands fa-x-twitter"></i></a>
            </nav>
            
            <p id="copyright">Copyright © 2023 CavaReal, Inc.</p>
        </div>
    </footer>
</body>
</html>