 <%- include('./head.ejs',{title: '', css:'/partials/header'}) %>

 <header>
        <div class="container-logo-header">
            <a href="/"><img src="/images/logo.png" alt="logo"></a>
        </div>

        <% if (isUserLogger) { %>
            <nav class="container-login-register-header">
                <a href="/user/profile"><i class="fa-solid fa-user"></i><p class="notation"><%= userLogged.userName %></p></a>
                <a href="/user/logout"><i class="fa-solid fa-right-from-bracket"></i><p class="notation">Cerrar Sesión</p></a>
                <div class="container-cart-header">
                    <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </nav>
        <% } else {%> 
            <nav class="container-login-register-header">
                <a href="/user/login"><i class="fa-solid fa-user"></i><p class="notation">Iniciar Sesión</p></a>
                <a href="/user/register"><i class="fa-solid fa-user-plus"></i><p class="notation">Registrarse</p></a>
                <div class="container-cart-header">
                    <a id="cart" href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </nav>
        <% } %>
</header>
