<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/partials/nav.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav class="nav">
        <ul class="nav_ul">
            <li> <a href="/#OFERTAS">Ofertas</a> </li>
            <li> <a href="/#BENEFICIOS">Beneficios</a> </li>
            <li> <a href="/#PRODUCTOS">Vinos</a> </li>
            <li> <a href="/#PRODUCTOS">Licores</a> </li>
            <li> <a href="/#PRODUCTOS">Accesorios</a> </li>
            <li> <a href="/#INFORMACION">Subscripción</a> </li>
        </ul>
    </nav>
</body>
</html>