*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
}



.logo-section-footer{
    width: 23vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 2vw;
}

#title-footer{
    font-size: 2vw;
    font-weight: 700;
    color: #dd6477;
    font-family: 'Playfair Display', serif;;
    letter-spacing: 0.6vw;
    filter: drop-shadow(0.75px .5px 0px #ffff);
    margin-bottom: 1vh;
}

#subtitle-footer{
    font-size: 1vw;
    color: #75343e;
    font-weight: 700;
}

.logo-section-footer hr{
  width: 40%;
  color: white;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.nav-social-networks{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.nav-social-networks > a {
    color: white;
    font-size: 2.2vw;
    margin-top: 1vh;
    transition: all 450ms;
}

.nav-social-networks > a:hover{
    font-size: 2.6vw;
}

.categories-section-footer{
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2vh 2vw;
    margin-left: 5vw;
}

.section-subtitle{
    color: white;
    font-size: 1.8vw;
    letter-spacing: 0.2vw;
    margin-bottom: 2.1vh;
}

.categories-section-footer > a{
    color: white;
    font-size: 1.2vw;
    margin-bottom: 1vh;
    transition: all 450ms;
}

.categories-section-footer > a:hover{
    color: #dd6477;
    text-decoration-line: underline;
}

.container-suscription{
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 2vh 2vw;
}

.information-suscription{
    color: white;
    font-size: 1.3vw;
}

.form-suscription{
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
}

.form-suscription > input{
    font-size: 1.3vw;
    padding: 2vh 3vw;
    width: 30vw;
    border-radius: 0.9vw;
    border: 2px #dadddf;
}

.form-suscription > button{
    font-size: 1.3vw;
    padding: 2vh 3vw;
    border-radius: 0.9vw;
    border: 0px;
    margin-left: 1vw;
    background-color: #629677;
    transition: all 450ms;
}

.form-suscription > button:hover{
    background-color: #326245;
}

#copyright{
    color: #dd6477;
    font-size: 1.3vw;
    margin-top: 5vh;
}