*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: white;
    padding: 0.4rem 0.3rem;
}
.container-logo-header{
    width: 20%;
    height: 15vh;
    margin-left: 0.5vw;
}

.container-logo-header img{
    height: 90%;
}
.container-login-register-header{
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container-login-register-header a{
    color: rgb(110, 110, 110);
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    width: 30%;
    font-weight: 500;
    font-size: 1.3vw;
    transition: all 450ms;
}

.container-login-register-header a:hover{
    color: white;
    font-weight: 700;
}

.container-login-register-header .container-cart-header #cart{
    width: 30%;
    color: #4d765d;
    font-size: 1.5em;
    transition: all 500ms;
}

.container-login-register-header .container-cart-header #cart:hover{
    transform: rotate(-90deg);
    color: #629677;
}

